## **IMPORTS**

In [ ]:
import pandas as pd
import os
import pickle

## **MOUNT DRIVE**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd drive/My\ Drive/bda/

/content/drive/My Drive/bda

## **LOAD DATASET CONTAINING YOUTUBE DATA - FROM KAGGLE(only English language videos)**

In [ ]:
us_videos = pd.read_csv('/content/drive/My Drive/bda/USvideos.csv',encoding='utf8',error_bad_lines=False)

b'Skipping line 2401: expected 11 fields, saw 21\nSkipping line 2800: expected 11 fields, saw 21\nSkipping line 5297: expected 11 fields, saw 12\nSkipping line 5299: expected 11 fields, saw 12\nSkipping line 5300: expected 11 fields, saw 12\nSkipping line 5301: expected 11 fields, saw 12\n'

In [ ]:
gb_videos = pd.read_csv('/content/drive/My Drive/bda/GBvideos.csv',encoding='utf8',error_bad_lines=False)

b'Skipping line 2398: expected 11 fields, saw 21\nSkipping line 2797: expected 11 fields, saw 21\n'

In [ ]:
us_videos.head()

      video_id  ...   date
0  XpVt6Z1Gjjo  ...  13.09
1  K4wEI5zhHB0  ...  13.09
2  cLdxuaxaQwc  ...  13.09
3  WYYvHb03Eog  ...  13.09
4  sjlHnJvXdQs  ...  13.09

[5 rows x 11 columns]

In [ ]:
gb_videos.head()

      video_id  ...   date
0  jt2OHQh0HoQ  ...  13.09
1  AqokkXoa7uE  ...  13.09
2  YPVcg45W0z4  ...  13.09
3  T_PuZBdT2iM  ...  13.09
4  NsjsmgmbCfc  ...  13.09

[5 rows x 11 columns]

In [ ]:
us_videos['category_id'].unique()

array([24, 28, 22, 23,  1, 26, 10, 25, 17, 27,  2, 20, 15, 29, 19, 43])

In [ ]:
gb_videos['category_id'].unique()

array([28, 24,  1, 26, 17, 22, 10, 23, 27, 25, 20,  2, 15, 29, 19])

## **LOAD DATASET CONTAINING YOUTUBE COMMENTS**

In [ ]:
us_comments = pd.read_csv('/content/drive/My Drive/bda/UScomments.csv',encoding='utf8',error_bad_lines=False)

b'Skipping line 41589: expected 4 fields, saw 11\nSkipping line 51628: expected 4 fields, saw 7\nSkipping line 114465: expected 4 fields, saw 5\n'
b'Skipping line 142496: expected 4 fields, saw 8\nSkipping line 189732: expected 4 fields, saw 6\nSkipping line 245218: expected 4 fields, saw 7\n'
b'Skipping line 388430: expected 4 fields, saw 5\n'
/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
gb_comments = pd.read_csv('/content/drive/My Drive/bda/GBcomments.csv',encoding='utf8',error_bad_lines=False)

b'Skipping line 113225: expected 4 fields, saw 5\n'
b'Skipping line 158379: expected 4 fields, saw 7\nSkipping line 241590: expected 4 fields, saw 5\nSkipping line 245637: expected 4 fields, saw 7\n'
b'Skipping line 521402: expected 4 fields, saw 5\n'

In [ ]:
us_comments.head()

      video_id                                       comment_text likes replies
0  XpVt6Z1Gjjo                  Logan Paul it's yo big day ‼️‼️‼️     4       0
1  XpVt6Z1Gjjo  I've been following you from the start of your...     3       0
2  XpVt6Z1Gjjo                 Say hi to Kong and maverick for me     3       0
3  XpVt6Z1Gjjo                                MY FAN . attendance     3       0
4  XpVt6Z1Gjjo                                         trending 😉     3       0

In [ ]:
gb_comments.head()

      video_id  ... replies
0  jt2OHQh0HoQ  ...       0
1  jt2OHQh0HoQ  ...       0
2  jt2OHQh0HoQ  ...       0
3  jt2OHQh0HoQ  ...       0
4  jt2OHQh0HoQ  ...       0

[5 rows x 4 columns]

## **MERGE VIDEOS AND COMMENTS FILE BASED ON COLUMN - video_id**

In [ ]:
us_data=pd.merge(us_videos, us_comments, on='video_id')

In [ ]:
gb_data=pd.merge(gb_videos, gb_comments, on='video_id')

In [ ]:
print("Number of records in US videos : ", len(us_data))

Number of records in US videos :  2940930

In [ ]:
print("Number of records in GB videos : ", len(gb_data))

Number of records in GB videos :  4209091

In [ ]:
combined_data = pd.concat([us_data,gb_data]).drop_duplicates().reset_index(drop=True)

In [ ]:
combined_data.columns

Index(['video_id', 'title', 'channel_title', 'category_id', 'tags', 'views',
       'likes_x', 'dislikes', 'comment_total', 'thumbnail_link', 'date',
       'comment_text', 'likes_y', 'replies'],
      dtype='object')

In [ ]:
len(combined_data)

4329819

In [ ]:
combined_data = combined_data.drop(['likes_y','replies','thumbnail_link'],axis=1)

In [ ]:
combined_data.to_csv('combined_data.csv')

## **SELECT "EDUCATIONAL" VIDEOS - Filtering rows for category_id = 27**

In [ ]:
temp1 = us_data[us_data.category_id== 27]
temp2 = gb_data[gb_data.category_id== 27]
link_list = pd.concat([temp1,temp2])

In [ ]:
len(link_list)

242152

In [ ]:
link_list.head()

          video_id                                    title  ... likes_y  replies
84376  ql0Op1VcELw  What's Actually the Plane of the Future  ...     728       77
84377  ql0Op1VcELw  What's Actually the Plane of the Future  ...       0        0
84378  ql0Op1VcELw  What's Actually the Plane of the Future  ...       0        0
84379  ql0Op1VcELw  What's Actually the Plane of the Future  ...       0        0
84380  ql0Op1VcELw  What's Actually the Plane of the Future  ...       0        0

[5 rows x 14 columns]

In [ ]:
df = link_list.reset_index(drop=True)

In [ ]:
df.head()

      video_id                                    title  ... likes_y  replies
0  ql0Op1VcELw  What's Actually the Plane of the Future  ...     728       77
1  ql0Op1VcELw  What's Actually the Plane of the Future  ...       0        0
2  ql0Op1VcELw  What's Actually the Plane of the Future  ...       0        0
3  ql0Op1VcELw  What's Actually the Plane of the Future  ...       0        0
4  ql0Op1VcELw  What's Actually the Plane of the Future  ...       0        0

[5 rows x 14 columns]

In [ ]:
df.to_csv('educational_comments',index=False)